<div class="container mt-2">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lookup Company" [formControl]="companyInput"
             (keyup.enter)="submitSearch(companyInput.value)">
    </mat-form-field>
    <button (click)="submitSearch(companyInput.value)"><i class="fas fa-search"></i></button>
  </form>
  <mat-card class="example-card col-6" *ngIf="searchTerm">
    <mat-card-header>
      <mat-card-title>{{company.name}}</mat-card-title>
      <mat-card-subtitle>Stock Exchange: {{company.stock_exchange}}</mat-card-subtitle>
      <mat-card-subtitle>CEO: {{company.ceo}}</mat-card-subtitle>
      <mat-card-subtitle>Ticker: {{company.ticker}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h6>Company Summary: </h6>
      <p>
        {{company.short_description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a target="_blank" href="{{company.company_url}}">Visit Website</a>
    </mat-card-actions>
  </mat-card>
</div>
