<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header d-flex justify-content-between pt-4 pb-4">
        <a class="card-link title">Your Watchlist</a>
        <a (click)="openDialog()" class="card-link watchlist">Add To Watchlist <i class="fas fa-plus-circle"></i></a>
      </div>

     <div class="card" *ngIf="companies.length === 0">
        <div class="card-body">
          <p>Your watchlist is empty. Add your favourite stocks for quick access and to stay up to date with the latest financial news.</p>
        </div>
      </div>
      <mat-progress-bar
        *ngIf="companies.length === 0"
        color='primary'
        mode='query'
        [value]=50
        [bufferValue]=75>
      </mat-progress-bar>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" *ngIf="companies.length > 0">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef> Company Ticker </th>
          <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="stockPrice">
          <th mat-header-cell *matHeaderCellDef> Current Stock Price </th>
          <td mat-cell *matCellDef="let element"> {{element.currentStockPrice}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="stockPriceChange">
          <th mat-header-cell *matHeaderCellDef> Stock Price Change (1 Month)</th>
          <td mat-cell *matCellDef="let element" [ngClass]="(element.getStockPriceChange(30) > 0)?'green':'red'" > {{element.getStockPriceChange(30) | percent:'1.2'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Remove from Watchlist</th>
          <td mat-cell *matCellDef="let element">
            <button id="addToWatchlist" (click)="deleteWatchListItem(element.name)"><i class="fas fa-trash-alt"></i></button>
            <!--<i class="fas fa-check-circle"></i>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!--      <table class="table table-bordered">
              <tbody>
              <tr *ngFor="let company of companies">
                <td> <a routerLink="/company-lookup/{{company.name}}">{{company.name | uppercase}}</a></td>
                <td>{{company.ticker}}</td>
                <td>{{company.stock_prices[0]?.close}}</td>
                <td [ngClass]="((company.stock_prices[0]?.close - company.stock_prices[30]?.close)> 0)?'green':'red'">{{company.stock_prices[0]?.close - company.stock_prices[30]?.close | number: '1.0'}} ({{stockValueChange(company.stock_prices[0]?.close, company.stock_prices[30]?.close) | percent: '1.2'}})</td>
                <td><i (click)="deleteWatchListItem(company.name)" class="fas fa-trash-alt"></i></td>
              </tr>
              </tbody>
            </table>-->
    </div>
  </div>
</div>

