<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header d-flex justify-content-between pt-4 pb-4">
        <a class="card-link title">Your Watchlist</a>
        <a (click)="openDialog()" class="card-link watchlist">Add To Watchlist</a>
      </div>
      <div class="card" *ngIf="companies.length == 0">
        <div class="card-body">
          <p class="card-text p-5 text-center ">Your watchlist is empty. Add your favourite stocks for quick access and to stay up to date with the latest financial news.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <tbody>
        <tr *ngFor="let company of companies">
          <td> <a routerLink="/company-lookup/{{company.name}}">{{company.name | uppercase}}</a></td>
          <td>{{company.ticker}}</td>
          <td>{{company.stock_prices[0]?.close}}</td>
          <td [ngClass]="((company.stock_prices[0]?.close - company.stock_prices[30]?.close)> 0)?'green':'red'">{{company.stock_prices[0]?.close - company.stock_prices[30]?.close | number: '1.0'}} ({{stockValueChange(company.stock_prices[0]?.close, company.stock_prices[30]?.close) | percent: '1.2'}})</td>
          <td><button (click)="deleteWatchListItem(company.name)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
