

<h5>Top US Indices</h5>
<!--<mat-form-field>
  <mat-select>
    <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
  </mat-select>
</mat-form-field>-->
<table class="table  table-bordered">
  <tbody>
  <tr *ngFor="let index of trackedIndices">
    <td>{{index.name}}</td>
    <td id="indexSymbol">{{index.symbol}}</td>
    <td>{{index.value | number: '1.0' }}</td>
    <td [ngClass]="((index.value - index.historicalData[30]?.value)> 0)?'green':'red'">
      {{index.value - index.historicalData[30]?.value | number: '1.0'}}
      ({{indexValueChange(index.value, index.historicalData[30]?.value) | percent: '1.2'}})</td>
  </tr>
  </tbody>
</table>

