<!--
<div class="container">
  <h2 class="m-4">Latest Market News</h2>
</div>
<div class="container">
  <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  &lt;!&ndash;- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" &ndash;&gt;

  &lt;!&ndash; Position Column &ndash;&gt;
  <ng-container matColumnDef="publicationDate" >
    <th class="date" mat-header-cell *matHeaderCellDef> Publication Date </th>
    <td mat-cell id="dateString" *matCellDef="let news"> {{news.publication_date | date:'short'}} </td>
  </ng-container>

  &lt;!&ndash; Name Column &ndash;&gt;
  <ng-container matColumnDef="company">
    <th class="companyName" mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let news"> {{news.company.name}} ({{news.company.ticker}})</td>
  </ng-container>

  &lt;!&ndash; Weight Column &ndash;&gt;
  <ng-container matColumnDef="title">
    <th class="title" mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let news"><a target="_blank" href={{news.url}}>{{news.title}} </a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </div>
</div>


-->
<h5>World market news</h5>
<mat-card *ngFor="let n of news">
  <mat-card-header>
    <mat-card-title><a target="_blank" href="{{n.url}}">{{n.title | slice:0:60 }}...</a></mat-card-title>
    <mat-card-subtitle>{{n.company.ticker}} - {{n.company.name}} - {{n.publication_date | date }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
