  <div class="row">
    <div class="col-12">
      <h5>Recently Searched</h5>
      <mat-progress-bar
        *ngIf="showSpinner"
        color='primary'
        mode='query'
        [value]=50
        [bufferValue]=75>
      </mat-progress-bar>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <!-- Position Column -->
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> <a routerLink="/company-lookup/{{element.name}}"> {{element.name}} </a></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef> Company Ticker </th>
          <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="stockPrice">
          <th mat-header-cell *matHeaderCellDef> Current Stock Price </th>
          <td mat-cell *matCellDef="let element"> {{element.currentStockPrice}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="stockPriceChange">
          <th mat-header-cell *matHeaderCellDef> Stock Price Change (30 Days)</th>
          <td mat-cell *matCellDef="let element" [ngClass]="(element.getStockPriceChange(30) > 0)?'green':'red'" >

            {{element.getStockPriceChange(30) | percent:'1.2'}}
            <i *ngIf="(element.getStockPriceChange(30) < 0)"  class="fas fa-arrow-down"></i>
            <i *ngIf="(element.getStockPriceChange(30) > 0)"   class="fas fa-arrow-up"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Add To Watchlist</th>
          <td mat-cell *matCellDef="let element">
            <button id="addToWatchlist" (click)="add(element.name)"><i class="fas fa-plus-circle"></i></button>
            <!--<i class="fas fa-check-circle"></i>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>



