$flex: 1;

.toolbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-toolbar.mat-primary {
    background: #4f5764;
    color: #fff;
  }

  .toolbar-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  }

  .nav-btns button {
    background: none;
    color: white;
  }

  .logo img{
    color: white;
  }

  .icons {
    i {
      margin: 0 10px 0 10px;
    }
    i:hover {
      cursor: pointer;
    }
    i:focus{
      outline: 0;
    }
  }

  .example-sidenav-container {
    flex: $flex;

    mat-nav-list {
      i {
        margin-right: 10px;
      }
    }
  }

  .nav-btn{
     background: none;
     border: none;
     color: white;
   }
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: $flex 0 auto;
}


button:focus {
  outline: none;
}

.spacer{
  flex: $flex $flex auto;
}
