<div class="toolbar-container" [class.toolbar-is-mobile]="mobileQuery.matches">
  <mat-toolbar  color="primary" class="example-toolbar">
    <span class="icons">
      <i class="material-icons" (click)="snav.toggle()">menu</i>
    </span>
    <span class="spacer"></span>
    <div class="nav-btns">
      <button mat-flat-button matTooltip="Company Search" (click)="searchInstrument()"><i class="fas fa-search"></i></button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard"><i class="material-icons">dashboard</i>  Dashboard</a>
        <a mat-list-item routerLink="/your-stock"><i class="material-icons">watch_later</i> IWatchlist</a>
        <a mat-list-item routerLink="/company-lookup" > <i class="material-icons">search</i> Company Lookup</a>
        <a mat-list-item routerLink="/forex" ><i class="material-icons" >attach_money</i> Forex</a>
        <a mat-list-item routerLink="/crypto"> <i class="material-icons" >monetization_on</i> Crypto</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
