<h5>Top US Securities</h5>
<mat-progress-bar
  *ngIf="showSpinner"
  color='primary'
  mode='query'
  [value]=50
  [bufferValue]=75>
</mat-progress-bar>
<table *ngIf="!showSpinner" class="table table-bordered">
  <tbody>
  <tr *ngFor="let stock of stocks">
    <td> <a routerLink="/company-lookup/{{stock.name}}">{{stock.name}}</a></td>
    <td>{{stock.security}}</td>
    <td>{{stock.stock_prices[0]?.close}}</td>
    <td [ngClass]="((stock.stock_prices[0]?.close - stock.stock_prices[30]?.close)> 0)?'green':'red'">{{stock.stock_prices[0]?.close - stock.stock_prices[30]?.close | number: '1.0'}} ({{stockValueChange(stock.stock_prices[0]?.close, stock.stock_prices[30]?.close) | percent: '1.2'}})</td>
  </tr>
  </tbody>
</table>
