<!--
<app-company-lookup></app-company-lookup>
<app-news-table></app-news-table>-->
<div class="container" *ngIf="!hide">
  <div class="row">
    <div class="col-12">
      <h5>Recently Searched</h5>
      <table class="table table-bordered">
        <tbody>
        <tr *ngFor="let company of loadedCompanies">
          <td> <a routerLink="/company-lookup/{{company.name}}">{{company.name | uppercase}}</a></td>
           <td>{{company.ticker}}</td>
           <td>{{company.stock_prices[0]?.close}}</td>
           <td [ngClass]="((company.stock_prices[0]?.close - company.stock_prices[30]?.close)> 0)?'green':'red'">{{company.stock_prices[0]?.close - company.stock_prices[30]?.close | number: '1.0'}} ({{stockValueChange(company.stock_prices[0]?.close, company.stock_prices[30]?.close) | percent: '1.2'}})</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-indices></app-indices>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-stocks></app-stocks>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <app-forex></app-forex>
      </div>
      <div class="col-12 col-lg-6">
        <app-crypto></app-crypto>
      </div>
    </div>

  <div class="row">
    <div class="col-12">
      <app-news-table></app-news-table>
    </div>
  </div>
</div>
