<!--
<app-company-lookup></app-company-lookup>
<app-news-table></app-news-table>-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-recently-searched></app-recently-searched>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-indices></app-indices>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-stocks></app-stocks>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <app-forex></app-forex>
      </div>
      <div class="col-12 col-lg-6">
        <app-crypto></app-crypto>
      </div>
    </div>

  <div class="row">
    <div class="col-12">
      <app-news-table></app-news-table>
    </div>
  </div>
</div>
