<!--
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [legend]="barChartLegend"></canvas>
  </div>
</div>
-->
<div class="custom-container">
      <h5>Forex</h5>
  <mat-progress-bar
    *ngIf="showSpinner"
    color='primary'
    mode='query'
    [value]=50
    [bufferValue]=75>
  </mat-progress-bar>
      <table *ngIf="!showSpinner" class="table table-bordered">
        <tr>
          <th>Currency Pair</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
        <tbody>
        <tr *ngFor="let currency of currencyPairs">
          <td>{{currency.currencyPair}}</td>
          <td>{{currency.currencyPairPrice?.close_bid | number: '1.1' }}</td>
          <td id="date">{{currency.currencyPairPrice?.occurred_at | date}}</td>
        </tr>
        </tbody>
      </table>

</div>
